	{% for post in posts %}
	<article class="media content-section">
		<a href="{{ url_for('main.user', username=post.author.username) }}">
				<img class="rounded-circle article-img" src="{{ post.author.gravatar(size=40) }}">
		</a>
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2"  href="{{ url_for('main.user', username=post.author.username) }}">{{post.author.username }}</a>
				<small class="text-muted">{{ post.timestamp.strftime('%Y-%m-%d') }}</small>
				<small class="text-muted post-date">{{ moment(post.timestamp).fromNow() }}</small>
				
			</div>
			<h2><a class="article-title" href="{{url_for('posts.show_post', id=post.id) }}">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.body | striptags | truncate }}</p>
		</div>
	</article>
	{% endfor %}
