{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title%}<title>Jugust- 主页</title>{% endblock %}

{% block page_content %}

	{% include '/posts/_posts.html' %}

{% if pagination %}
<div class="pagination">
	{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

{% endblock %}

{% block main_right_bar %}

<div class="col-md-4">
    <div class="rightbar_fixed">
              <ul class="list-group" id="right-navbar">
						<a class="list-group-item list-group-item-light {% if show_what=='' %}active {% endif %}" href="{{ url_for('main.show_all') }}">全部</a>


						<a class="list-group-item list-group-item-light {% if show_what=='show_followed' %}active {% endif %}" href="{{ url_for('main.show_followed') }}">关注</a>
                	   <a class="list-group-item list-group-item-light  {% if show_what=='show_collected' %}active {% endif %}"  href="{{ url_for('main.show_collected') }}">收藏</a>
                   
                    {% if current_user.can(Permission.WRITE) %}
                	   <a class="list-group-item list-group-item-light" href="{{ url_for('posts.new_post') }}">写文章</a>
                    {% endif %}

              </ul>
            </p>
    </div>
</div>


{% endblock main_right_bar %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}