{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}<title>Flasky - {{ user.username }}</title>{% endblock %}

{% block page_content %}
<div class="content-section">
    <div class="media">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1 class="account-heading">{{ user.username }}
                {% if user.name %}
                <small class="text-muted">{{ user.name}}</small>
                {% endif %}
            </h1>
            <p>
                {% if user.about_me %} 
                <span class="oi oi-pencil"></span>
                <span class="text-muted">{{ user.about_me }}</span><br>{% endif %}
        
            {% if user.location %}
                <span class="oi oi-map-marker" ></span>
                <a href="https://www.amap.com/search?query={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}

            {% if current_user.is_administrator() %}
            <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>
            {% endif %}
            <span class="oi oi-calendar"></span>
            <span class="text-secondary">Joined {{ moment(user.member_since).format('L') }}.
            Last seen {{ moment(user.last_seen).fromNow() }}.</span><br>
            <span class="oi oi-file"></span>
            <span class="text-secondary">{{ user.posts.count() }} blog posts. {{ user.comments.count() }} comments.
                {{ user.collections|length}} collections. 
            </p>
            <p>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-success">Follow</a>
                    {% else %}
                    <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-secondary">Unfollow</a>
                    {% endif %}
                {% endif %}
       
                <a class="badge badge-pill badge-info" href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() - 1 }}</span></a>
                <a class="badge badge-pill badge-info" href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count() - 1 }}</span></a>


                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                | <span class="label label-default">Follows you</span>
                {% endif %}
            </p>
            <p>
                {% if user == current_user %}
                <a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<h3>Posts by {{ user.username }}</h3>
{% include 'posts/_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
</div>
{% endif %}
{% endblock %}